@font-face {
  font-family: "Fonte";
  src: local("Roboto Thin"), url("../fonts/Roboto-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}
@font-face {
  font-family: "Fonte";
  src: local("Roboto Light"), url("../fonts/Roboto-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Fonte";
  src: local("Roboto Regular"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Fonte";
  src: local("Roboto Medium"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Fonte";
  src: local("Roboto Bold"), url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Fonte";
  src: local("Roboto Black"), url("../fonts/Roboto-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}
:root {
  --bg-color: #612F74;
  --text-color: #333;
  --white: #FFF;
  --border: 1px solid #333333;
  --btn-green: #5A917F;
  --radius: 10px;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  font-family: "Fonte", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body, main, div, section, header, article, footer, form, button {
  display: flex;
}

a {
  text-decoration: none;
}

.input-error {
  border: 1px solid red !important;
}

.input-focus {
  box-shadow: 0px 0px 5px #612f74;
}

#loading {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 5;
  background-color: var(--bg-color);
}

.alert.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}
.alert.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}

main#login {
  background-color: var(--bg-color);
  height: 100vh;
  width: 100vw;
}
main#login div.overflow {
  margin-left: 20px;
  flex-direction: row;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  padding-right: 20px;
}
main#login div.overflow section {
  flex-direction: column;
  background-color: var(--white);
  border: var(--border);
  border-radius: var(--radius);
  padding: 20px;
  width: 90%;
  transition: 1s;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  align-self: center;
}
main#login div.overflow section.signup {
  position: absolute;
  left: -1000px;
  z-index: 0;
}
main#login div.overflow section.signup.show {
  left: 0;
  z-index: 2;
}
main#login div.overflow section.access {
  position: absolute;
  left: -1000px;
  z-index: 1;
}
main#login div.overflow section.access.show {
  left: 0;
  z-index: 2;
}
main#login div.overflow section.forget {
  position: absolute;
  right: 1000px;
  z-index: 0;
}
main#login div.overflow section.forget.show {
  right: 0;
  z-index: 2;
}
main#login div.overflow section h2 {
  color: var(--text-color);
  text-align: center;
  text-transform: uppercase;
}
main#login div.overflow section form {
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}
main#login div.overflow section form .fields {
  flex-direction: column;
}
main#login div.overflow section form .field {
  flex-direction: column;
  border: var(--border);
  border-radius: var(--radius);
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  transition: all 0.5s;
}
main#login div.overflow section form .field label {
  font-weight: 500;
}
main#login div.overflow section form .field input {
  border: none;
  padding: 5px 0;
  outline: none;
}
main#login div.overflow section form .field.loading {
  background-color: #eee;
}
main#login div.overflow section form .field.loading input {
  background-color: #eee;
}
main#login div.overflow section form a {
  text-align: right;
}
main#login div.overflow section form hr {
  border: var(--border);
  width: 100%;
}
main#login div.overflow section form .wrap {
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}
main#login div.overflow section form .wrap a {
  font-size: 20px;
  text-transform: uppercase;
}
main#login div.overflow section form .wrap button {
  background-color: var(--btn-green);
  border-radius: 100px;
  border: none;
  height: 56px;
  width: 56px;
  padding: 3px;
  outline: none;
  cursor: pointer;
}
main#login div.overflow section form .wrap button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}
main#login div.overflow section form .wrap button:disabled:hover {
  background-color: var(--btn-green);
}
main#login div.overflow section form .wrap button:disabled:active {
  background-color: var(--btn-green);
}
main#login div.overflow section form .wrap button:hover {
  background-color: #6eaf99;
}
main#login div.overflow section form .wrap button:active {
  background-color: #436d5f;
}
main#login div.overflow section form .wrap button svg {
  height: 50px;
  width: 50px;
}
main#login div.overflow section form .wrap button span {
  display: none;
}
@media (min-width: 768px) {
  main#login div.overflow section form .wrap button {
    border-radius: var(--radius);
    width: 210px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;
  }
  main#login div.overflow section form .wrap button span {
    display: flex;
    color: var(--white);
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
  }
}

@media (min-width: 768px) {
  main#login {
    justify-content: center;
    align-items: center;
  }
  main#login div.overflow {
    max-width: 768px;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
