#app {
    flex-direction: column;
    background-color: var(--bg-color);
    header {
        background-color: var(--header-color);
        height: 66px;
        flex-direction: row;
        padding: var(--space);
        width: 100%;
        justify-content: center;
        button {
            height: 50px;
            width: 50px;
            padding: 0;
            background-color: transparent;
            border: none;
            outline: none;
            position: absolute;
            left: 10px;
        }
        nav {
			background-color: var(--header-color);
			position: fixed;
			top: 66px;
			left: 0;
			height: 100vh;
			width: 95%;
			flex-direction: column;
			align-items: center;
			padding: var(--space);
			transform: translateX(-768px);
			transition: ease-in 0.5s;
			div {
				flex-direction: column;
				&.profile {
					align-items: center;
				}
				&.links {
					align-items: center;
				}
			}
			img {
				margin: calc(var(--space) * 3);
				height: 160px;
				width: 160px;
			}
			strong {
				font-size: 30px;
				font-weight: 700;
				color: var(--white);
				text-transform: uppercase;
			}
			ul {
				flex-direction: column;
				margin: 0;
				padding: 0;
				width: 100%;
				align-items: center;
				bottom: 100px;
				position: absolute;
				li {
					a {
						font-size: 30px;
						font-weight: 700;
						color: var(--white);
						text-transform: uppercase;
						text-decoration: none;
					}
				}
				li + li {
					margin-top: 40px;
				}
			}
			
			&.open {
				transition: ease-out 0.5s;
				width: 100%;
				position: fixed;
				left: 0;
				transform: translateX(0px);
            } 
            
        }
        div {
            &.logo {
                align-items: center;
                width: 100%;
                justify-content: center;
                img {

                }
                h1 {
                    display: none;
                    font-size: calc(var(--space) * 5);
                    font-weight: 700;
                    color: var(--white);
                    text-transform: uppercase;
                    margin: 0 var(--space);
                }
            }
        }
    }
    main {
        flex-direction: column;
        padding: var(--space);
        color: var(--text-color);
        section {
            &.show {
                display: flex;
            }
            display: none;
            flex-direction: column;
            background-color: rgba(255,255,255,0.9);
            border-radius: var(--radius);
            width: 100%;
            height: calc(100vh - 86px);
            header {
                background-color: transparent;
                justify-content: center;
                align-items: center;
                h2 {
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 30px;
                }
            }
            footer {
                height: 100px;
                padding: calc(var(--space) * 2);
                justify-content: center;
                align-items: center;
                a {
                    background-color: var(--btn-green);
                    width: 100%;
                    border-radius: var(--radius);
                    padding: var(--space);
                    justify-content: center;
                    align-items: center;
                    color: var(--white);
                    font-size: 30px;
                    text-transform: uppercase;
                    font-weight: 700;
                    img {
                        margin-right: var(--space);
                    }
                }
            }
            div {
                &.contents {
                    flex-direction: column;
                    overflow-y: scroll;
                    details {
                        background-color: var(--white);
                        padding: calc(var(--space) * 2);
                        margin: var(--space);
                        border-radius: var(--radius);
                        p, span {
                            font-size: 25px;
                        }
                        p {
                            font-weight: 300;
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                        }
                        span {
                            font-weight: 400;
                        }
                        a {
                            background-color: var(--btn-purple);
                            font-size: 20px;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            color: var(--white);
                            padding: 10px;
                            display: flex;
                            text-transform: uppercase;
                            border-radius: var(--radius);
                            img {
                                margin-right: var(--space);
                            }
                        }
                        summary {
                            outline: none;
                            font-size: 25px;
                            font-weight: 500;
                            text-align: center;
                            padding: 0;
                        }
                    }
                }
            }
			&#new_vault {
				header {
					background-color: var(--section-header-color);
					border-radius: var(--radius) var(--radius) 0 0;
				}
				form {
					background-color: var(--white);
					flex-direction: column;
					height: 100%;
					justify-content: space-between;
					border-radius: 0 0 var(--radius) var(--radius);
					overflow-x: scroll;
					@include field;
					div {
						flex-direction: column;
						padding: var(--space);
						strong, small {
							text-align: center;
						}
						strong {
							font-size: 20px;
							font-weight: 700;
							text-transform: uppercase;
						}
					}
					footer {
						background-color: var(--section-header-color);
						border-radius: 0 0 var(--radius) var(--radius);
						height: 67px;
						button {
							height: 62px;
							background-color: var(--btn-green);
							width: 100%;
							border-radius: var(--radius);
							padding: var(--space);
							justify-content: center;
							align-items: center;
							color: var(--white);
							font-size: 30px;
							text-transform: uppercase;
							font-weight: 700;
							border: none;
							span {
								font-size: 25px;
								font-weight: 700;
								color: var(--white);
								text-transform: uppercase;
								margin-left: var(--space);
							}
						}
						a {
							width: 170px;	
    						margin-right: 40px;
							font-size: 20px;
							background-color: var(--btn-cancel);
						}
					}
				}
			}
        }
    }

}

@media (min-width: 768px) {
    #app {
		background-color: #EBEAF1;
		overflow: hidden;
        header {
            height: 100px;
            flex-direction: row-reverse;
            button {
                display: none;
            }
            nav {
				width: 100%;
				flex-direction: row-reverse;
				margin-right: 10px;
				background-color: transparent;
				position: relative;
				top: -10px;
				transform: none;
				height: inherit;
				padding: 0;
                div {
					&.profile {
						flex-direction: row-reverse;
						img {
							height: 74px;
    						width: 74px;
						}
						strong {
							margin-bottom: 40px;
						}
					}
					&.links {
						flex-direction: row-reverse;
						ul {
							flex-direction: row;
							position: relative;
							bottom: -20px;
							left: 261px;
							li {
								margin: 0 calc(var(--space) * 5);
								a {
									font-size: 20px;
									font-weight: 400;
								}
							}
							li + li {
								margin: 0;
							}
						}

					}
				}
                
            }
            div {
                &.logo {
                    align-items: center;
                    width: 100%;
                    justify-content: end;
    				margin-left: 10px;
                    img {
                        height: 74px;
                        width: 74px;
                    }
                    h1 {
                        display: flex;
                    }
                }
            }
        }
		main {
			section {
				background-color: transparent;
				&#vaults {
					justify-content: space-between;
					div {
						&.contents {
							display: grid;
							grid-template-columns: repeat(4, 1fr);
						}
					}
					footer {
						position: relative;
						bottom: 10px;
						justify-content: flex-end;
						padding: 0;
						margin: 20px 9px;
						a {
							width: initial;
						}
					}
				}
				&#new_vault {
					header {
						background-color: var(--section-header-color);
						border-radius: var(--radius) var(--radius) 0 0;
					}
					form {
						background-color: transparent;
						flex-direction: column;
						height: 100%;
						justify-content: space-between;
						border-radius: 0 0 var(--radius) var(--radius);
						overflow-x: scroll;
						@include field;
						div {
							flex-direction: column;
							padding: var(--space);
							strong, small {
								text-align: center;
							}
							strong {
								font-size: 20px;
								font-weight: 700;
								text-transform: uppercase;
							}
							.fields {
								flex-direction: row;
								.field + .field {
									margin-left: var(--space);
								}
							}
						}
						footer {
							background-color: var(--section-header-color);
							border-radius: 0 0 var(--radius) var(--radius);
							height: 67px;
							margin-bottom: 30px;
							width: 100%;
							justify-content: flex-end;
							button {
								background-color: var(--btn-green);
								width: 300px;
								border-radius: var(--radius);
								border: none;
								justify-content: center;
								align-items: center;
								height: inherit;
							}
						}
					}
				}
			}
		}
    }
}