main {
    &#login {
        background-color: var(--bg-color);
        height: 100vh;
        width: 100%;
        div {
            &.overflow {
                padding: 20px;
                align-items: center;
                width: 100%;
                flex-direction: row;
                overflow: hidden;
                justify-content: center;
                section {
                    flex-direction: column;
                    background-color: var(--white);
                    border: var(--border);
                    border-radius: var(--radius);
                    padding: 20px;
                    width: 90%;
                    transition: 1s;
                    box-shadow: 10px 10px 10px rgb(0 0 0 / 50%);
                    &.signup {
                        position: absolute;
                        left: -1000px;
                        z-index: 0;
                        &.show {
                            left: 25px;
                            z-index: 2;
                        }
                    }
                    &.access {
                        position: absolute;
                        left: -1000px;
                        z-index: 1;
                        &.show {
                            left: 25px;
                            z-index: 2;
                        }
                    }
                    &.forget {
                        position: absolute;
                        right: 1000px;
                        z-index: 0;
                        &.show {
                            right: 25px;
                            z-index: 2;
                        }
                    }
                    h2 {
                        color: var(--text-color);
                        text-align: center;
                        text-transform: uppercase;
                    }
                    form {
                        flex-direction: column;
                        margin-top: 20px;
                        @include field;
                        a {
                            text-align: right;
                        }
                        hr {
                            border: var(--border);
                            width: 100%;
                        }
                        @include wrap;
                    }
                }
            }
        }
    }
}