main {
    &#login {
        background-color: var(--bg-color);
        height: 100vh;
        width: 100vw;
        div {
            &.overflow {
                margin-left: 20px;
                flex-direction: row;
                overflow: hidden;
                position: relative;
                width: 100%;
                height: 100%;
                padding-right: 20px;
                section {
                    flex-direction: column;
                    background-color: var(--white);
                    border: var(--border);
                    border-radius: var(--radius);
                    padding: 20px;
                    width: 90%;
                    transition: 0.7s;
                    box-shadow: 10px 10px 10px rgb(0 0 0 / 50%);
                    align-self: center;
                    &.signup, &.access, &.forget {
                        position: absolute;
                        //left: -1000px;
                        transform: scale(0.5);
                        z-index: 0;
                        opacity: 0;
                        &.show {
                            //left: 0;
                            transform: scale(1);
                            z-index: 2;
                            opacity: 1;
                        }
                    }

                    /*&.signup {
                        position: absolute;
                        left: -1000px;
                        z-index: 0;
                        opacity: 0;
                        &.show {
                            left: 0;
                            z-index: 2;
                            opacity: 1;
                        }
                    }
                    &.access {
                        position: absolute;
                        left: -1000px;
                        z-index: 1;
                        &.show {
                            left: 0;
                            z-index: 2;
                        }
                    }
                    &.forget {
                        position: absolute;
                        right: 1000px;
                        z-index: 0;
                        &.show {
                            right: 0;
                            z-index: 2;
                        }
                    }*/
                    h2 {
                        color: var(--text-color);
                        text-align: center;
                        text-transform: uppercase;
                    }
                    form {
                        flex-direction: column;
                        margin-top: 20px;
                        width: 100%;
                        @include field;
                        a {
                            text-align: right;
                        }
                        hr {
                            border: var(--border);
                            width: 100%;
                        }
                        @include wrap;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    main {
        &#login {
            justify-content: center;
            align-items: center;
            div {
                &.overflow {
                    max-width: 768px;
                }
            }
        }
    }
}