@mixin field {
    .fields {
        flex-direction: column;
    }
    .field {
        flex-direction: column;
        border: var(--border);
        border-radius: var(--radius);
        padding: 10px;
        margin: 10px 0;
        width: 100%;
        transition: all 0.5s;
        background-color: var(--white);
        label {
            font-weight: 500;
        }
        input {
            border: none;
            padding: 5px 0;
            outline: none;
            font-size: 20px;
        }
        &.loading {
            background-color: #eee;
            input {
                background-color: #eee;
            }
        }
    }
}

@mixin wrap {
    .wrap {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        align-items: center;
        a {
            font-size: 20px;
            text-transform: uppercase;
        }
        button {
            background-color: var(--btn-green);
            border-radius: 100px;
            border: none;
            height: 56px;
            width: 56px;
            padding: 3px;
            outline: none;
            cursor: pointer;
            &:disabled {
                opacity: 0.8;
                cursor: not-allowed;
                &:hover {
                    background-color: var(--btn-green);
                }
                &:active {
                    background-color: var(--btn-green);
                }
            }
            &:hover {
                background-color: #6eaf99;
            }
            &:active {
                background-color: #436d5f;
            }
            svg {
                height: 50px;
                width: 50px;
            }
            span {
                display: none;
            }
        }
    }

    @media (min-width: 768px) {
        .wrap {
            button {
                border-radius: var(--radius);
                width: 210px;
                flex-direction: row;  
                justify-content: space-evenly;
                align-items: center;
                padding: 0 10px;
                span {
                    display: flex;
                    color: var(--white);
                    font-weight: 400;
                    font-size: 30px;
                    text-transform: uppercase;
                }
            }
        }
    }
}

@mixin button-green {
    background-color: var(--btn-green);
    border: none;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    margin: var(--space);
    border-radius: var(--radius);
    outline: none;
    text-transform: uppercase;
}