* {
	box-sizing: border-box;
	scroll-behavior: smooth;
	-webkit-font-smoothing: antialiased;
    font-family: 'Fonte', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

//Zero Margin
body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

//Setting to Flex Layout
body, main, div, section, header, article, footer, form, button, nav, ul, li, a {
    display: flex;
}

//Link style
a {
    text-decoration: none;
    &:hover {
        opacity: 0.9;
    }
    &:active {
        opacity: 0.7;
    }
}

//Default button's cursor
button {
    cursor: pointer;
    &:hover {
        opacity: 0.9;
    }
    &:active {
        opacity: 0.7;
    }
}

//Scrollbar
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #3c2e80;
  border: 11px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #612f74;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #40204c;
}
::-webkit-scrollbar-track:active {
  background: #27142e;
}
::-webkit-scrollbar-corner {
  background: transparent;
}