:root {
    --bg-color: #612F74;
    --header-color: #3C2E80;
    --section-header-color: #EFEBF1;
    --text-color: #333;
    --white: #FFF;
    --border: 1px solid #333333;
    --btn-green: #247350;
    --btn-purple: #362973;
    --btn-cancel: #732424;

    --radius: 10px;
    --space: 10px;
}